.home-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
}

.next-class-card, .todo-card, .inbox-card, .calendar-card {
    background-color: white;
    border-radius: 10px;
    margin-top: 2rem;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
    min-width: 280px;
    font-weight: bold;
    font-size: 1.5em;
}

/* Default layout */
.next-class-card {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.todo-card {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
}
.inbox-card {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
}
.calendar-card {
    grid-column: 3 / 4;
    grid-row: 1 / 4;
}

/* Responsive design for screens 900px and smaller */
@media (max-width: 900px) {
    .home-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, auto);
    }
    .next-class-card {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }
    .todo-card {
        grid-column: 1 / 2;
        grid-row: 2 / 4;
    }
    .inbox-card {
        grid-column: 2 / 3;
        grid-row: 2 / 4;
    }
    .calendar-card {
        grid-column: 1 / 3;
        grid-row: 4 / 5;
    }
}

/* Responsive design for screens 600px and smaller */
@media (max-width: 600px) {
    .home-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
    }
    .next-class-card, .todo-card, .inbox-card, .calendar-card {
        grid-column: 1 / 2;
        grid-row: auto;
    }
}



