.next-class-card-header {
    display: flex;
    align-items: center; /* Vertically align icon and text */
    gap: 10px; /* Space between icon and text */
}
.next-class-card-body{
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Vertically align icon and text */
    gap: 10px; /* Space between icon and text */
}
.next-class-card-body-button{
    background-color: #189ab4;
    color: rgb(255, 255, 255);
    width: 8rem;
    height: 2rem;
    border-radius: 20px;
    border: none;
}
.next-class-card-body-button:hover{
    cursor: pointer;
    opacity: 0.6;
}
.next-class-card-body-content-time{
    font-weight: lighter;
}
.next-class-card-body-img{
    width: 3rem;
    height: 3rem;
}