.topic-card-container{
    background-color: #FFFFFF;
    height: 8rem;
    border-radius: 8px;
    width: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #252E48;
    font-weight: bold;
}
.topic-card-container:hover{
    width: 8rem;
    height: 9rem;
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px #777777;
}

.topic-card-options{
    align-self: flex-end;
    margin-right: 0.5rem;
}

